.photo-grid {
  display: flex;
  justify-content: center;
}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 213px);
  gap: 16px 16px;
  margin: 118px auto 92px;
}

.photo-grid__image {
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .photo-grid__container {
    display: grid;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(4, 264px);
    gap: 16px 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__container {
    display: grid;
    grid-template-columns: 288px;
    grid-template-rows: repeat(8, 216px);
    gap: 12px;
  }
}
