.photo-grid {
  display: flex;
  justify-content: center;
}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 213px);
  gap: 16px 16px;
  margin: 118px auto 92px;
}
