.places {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;
}

.places__container {
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 125px repeat(3, 1fr) 50px;
  grid-gap: 48px 40px;
}

.places__container-title {
  max-width: 460px;
  height: max-content;
  font-family: "inter-black", sans-serif;
  font-size: 72px;
  margin: 0;
  line-height: 0.9;
  grid-column: 1/4;
  grid-row: 1;
}

.places__container-image {
  max-width: 460px;
  max-height: 460px;
  grid-column: 1/4;
  grid-row: 2/5;
}

.places__container-image:hover {
  box-shadow: 5px 5px 10px 0px #00000040;
}

.places__container-imageitem {
  width: 100%;
  height: max-content;
}

.places__container-frame {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
  grid-column: 1 / 3;
  grid-row: 5;
}

.places__container_frame:hover {
  box-shadow: 5px 5px 10px 0px #00000040;
}

.places__container-author {
  text-decoration: none;
  color: white;
  font-size: 18px;
  max-width: 460px;
  grid-column: span 3;
  padding-top: 12%;
}

.places__container-websiteurl {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 3px;
}

.places__container-websiteartist {
  line-height: 22px;
  margin: 0;
}

.places__container-text {
  max-width: 484px;
  line-height: 1.6;
  grid-column: span 3;
  grid-row: span 3;
  margin: 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 760px) {
  .places {
    max-width: 720px;
    gap: 72px;
  }

  .places__container {
    grid-template-rows: 90px 1fr repeat(2, 50px);
  }

  .places__container-title {
    font-size: 42px;
    line-height: 46px;
    padding-top: 12%;
  }

  .places__container-image {
    max-width: 340px;
    max-height: 340px;
    grid-row: 2 / 4;
  }

  .places__container-frame {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 14px;
  }

  .places__container-author {
    padding: 10px;
  }

  .places__container-text {
    max-width: 352px;
    font-size: 12px;
    grid-column: span 3;
    grid-row: 2 / 5;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    gap: 50px;
    margin: 0 auto 65px;
  }

  .places__container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 0fr) 50px;
    grid-gap: 30px 0;
  }

  .places__container-title {
    font-size: 32px;
    line-height: 35px;
  }

  .places__container-image {
    max-width: 320px;
    max-height: 320px;
    grid-column: 1;
    grid-row: 3;
  }

  .places__container-frame {
    max-width: 320px;
    font-size: 14px;
    grid-row: 6;
  }

  .places__container-author {
    grid-row: 2;
    grid-column: 1;
    padding: 0;
  }

  .places__container-text {
    max-width: 290px;
    grid-column: 1;
    grid-row: 4;
    text-align: start;
  }
}
